body {
    background-image: url(/images/challenge-questions-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Caudex, Garamond, serif;
}

.question-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.question-item {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.question:hover {
  background-color: #0056b3;
}

.answer {
  display: none; /* Hide the answer initially */
  padding: 15px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.answer.show {
  display: block; /* Show the answer when needed */
}